* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: dodgerblue;
    --secondary-color: lightcoral;
}

.section__Home,
.section__about,
.section__portfoli,
.section__contact {
    background: var(--primary-color);
    height: 100vh;
}

.home_upper_section {
    background: var(--secondary-color);
    height: 30vh;
    background: url("../img/hd-pattern-png-transparent-triangle-transparent-png-image-pattern-transparent-2048_1024.png") no-repeat center center/cover;
}

.home_lower_section {
    display: flex;
}

.home_lower_sec_left,
.home_lower_sec_right {
    height: 70vh;
    padding: 2px;
    background: #fff;
}
.home_lower_sec_left{
    width: 30%;
}
.home_lower_sec_right{
    width: 70%;
}
.profile_pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_pic>img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
}